<link rel="apple-touch-icon" sizes="180x180" href="/image/icon/apple-touch-icon.png?v=XBJba2XoXa">
<link rel="icon" type="image/png" sizes="32x32" href="/image/icon/favicon-32x32.png?v=XBJba2XoXa">
<link rel="icon" type="image/png" sizes="16x16" href="/image/icon/favicon-16x16.png?v=XBJba2XoXa">
<link rel="manifest" href="/image/icon/site.webmanifest?v=XBJba2XoXa">
<link rel="mask-icon" href="/image/icon/safari-pinned-tab.svg?v=XBJba2XoXa" color="#5bbad5">
<link rel="shortcut icon" href="/image/icon/favicon.ico?v=XBJba2XoXa">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="theme-color" content="#ffffff">